<p-button
  label="Minerar Novo Bloco"
  icon="pi pi-hammer"
  [routerLink]="'mine-new-block'"
/>
<p-table
  [value]="blocks"
  [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-lg"
  stripedRows
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      @if(blocks.length > 0) {
      <h5 class="m-0">Blocos</h5>
      }@else {
      <h5 class="m-0">Nenhum bloco ainda. Minere o primeiro bloco.</h5>
      }
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="height"># <p-sortIcon field="height" /></th>
      <th>Nº de Transações</th>
      <th>Volume (BTC)</th>
      <th>Total de taxas (BTC)</th>
    </tr>
  </ng-template>
  <ng-template #body let-block>
    <tr>
      <td>{{ block.height }}</td>
      <td>{{ block.nTransactions }}</td>
      <td>{{ block.btcVolume }}</td>
      <td>{{ block.fees }}</td>
    </tr>
  </ng-template>
</p-table>
