<div
  class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50 backdrop-blur"
  (click)="onBackdropClick($event)"
>
  <div
    class="bg-zinc-800 rounded-lg shadow-lg p-6 min-w-[320px] max-w-[90vw] w-full max-h-[80vh] overflow-y-auto relative h-full"
  >
    <button
      class="absolute top-2 right-2 text-zinc-400 hover:text-red-400"
      (click)="onClose()"
      title="Fechar"
    >
      <i class="pi pi-times text-lg"></i>
    </button>
    <h2 class="text-lg font-bold text-blue-400 mb-4">
      Endereços, Saldos e UTXOs
    </h2>
    <div class="overflow-x-auto max-h-[60vh]">
      <table class="min-w-full text-xs">
        <thead class="sticky top-0 z-10 bg-zinc-800">
          <tr class="text-zinc-400 border-b border-zinc-700">
            <th class="text-left p-2">Endereço</th>
            <th class="text-right p-2">Saldo (BTC)</th>
            <th class="text-right p-2">Qtd UTXOs</th>
            <th class="text-left p-2">UTXOs</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of node.balances | keyvalue">
            <ng-container *ngIf="entry.value && entry.value.utxos">
              <td class="font-mono p-2">{{ entry.key }}</td>
              <td class="text-right p-2">
                {{ entry.value.balance / 100000000 | number : "1.8-8" }}
              </td>
              <td class="text-right p-2">{{ entry.value.utxos.length }}</td>
              <td class="p-2">
                <table
                  class="min-w-full text-xs border-separate border-spacing-y-1"
                >
                  <thead>
                    <tr class="text-zinc-400">
                      <th class="text-left">TxID</th>
                      <th class="text-right">Out</th>
                      <th class="text-right">Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let utxo of entry.value.utxos">
                      <td class="font-mono" [title]="utxo.txId">
                        {{ utxo.txId | slice : 0 : 8 }}…
                      </td>
                      <td class="text-right">{{ utxo.outputIndex }}</td>
                      <td class="text-right">
                        {{ utxo.output.value / 100000000 | number : "1.8-8" }}
                        BTC
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
