<p-card header="Analogia dos Dados" class="mb-6 shadow-lg w-full">
  <div class="my-5 pb-5 border-b">
    <p>
      No Desafio do Dado, vence quem lançar um número igual ou menor que o
      valor-alvo (target).
    </p>
    <p>
      Qualquer pessoa pode participar a qualquer momento e com qualquer
      quantidade de dados.
    </p>
    <p>
      Obviamente, o jogador que participar com mais dados terá mais chances de
      acertar o valor-alvo primeiro e, portanto, mais chances de ganhar o
      desafio.
    </p>
    <p>
      Quanto menor o alvo, mais difícil é ganhar, pois há menos resultados
      possíveis que atendem à condição.
    </p>
    <p>
      Isso torna o jogo mais desafiador e exige mais tentativas para vencer.
    </p>
  </div>

  <h3 class="font-bold text-lg mb-5">O desafio:</h3>
  <div class="flex flex-col gap-20">
    <div class="flex flex-col gap-3">
      <p>
        1. Defina a dificuldade: quanto mais difícil, menor será o valor do
        alvo/target.
      </p>
      <div class="flex flex-col items-center gap-2">
        <p class="font-bold">Alvo/Target</p>
        <p-knob [(ngModel)]="target" [min]="6" [max]="1" />
        <div class="flex gap-2">
          <p-button
            icon="pi pi-minus"
            (click)="target = target + 1"
            [disabled]="target >= 6"
          />
          <p-button
            icon="pi pi-plus"
            (click)="target = target - 1"
            [disabled]="target <= 1"
          />
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3 items-start w-full">
      <p>
        2. Defina o número de competidores e com quantos dados cada um irá
        jogar. Depois disso, inicie a simulação
      </p>
      <!-- Seção de Competidores -->
      <h2 class="font-semibold">Competidores</h2>

      <div class="my-5 pb-5 border-b">
        <h3 class="font-bold text-lg mb-3">Parâmetros da Simulação</h3>
        <div class="flex flex-col gap-5">
          <div class="flex flex-col items-start gap-3">
            <label class="font-bold">Dificuldade do Target</label>
            <p-knob [(ngModel)]="target" [min]="1" [max]="6" />
          </div>
          <div class="flex flex-col items-start gap-3">
            <label class="font-bold">Intervalo entre Lançamentos (ms)</label>
            <input
              type="number"
              [(ngModel)]="miningInterval"
              class="p-inputtext p-component w-full"
            />
          </div>
          <div class="flex items-center gap-3">
            <p-checkbox [(ngModel)]="autoPause" binary="true"></p-checkbox>
            <label>Parar automaticamente quando houver um vencedor</label>
          </div>
        </div>
      </div>

      <div class="my-5 pb-5 border-b">
        <h3 class="font-bold text-lg mb-3">Controle da Competição</h3>
        <p-button
          label="{{ isMining ? 'Parar Competição' : 'Iniciar Competição' }}"
          (click)="toggleCompetition()"
          [severity]="isMining ? 'danger' : 'success'"
          icon="pi pi-play"
          class="w-full"
        />
      </div>

      <!-- Botões de ação -->
      <div class="action-buttons">
        <p-button
          label="Adicionar Competidor"
          icon="pi pi-plus"
          (onClick)="addCompetitor()"
        ></p-button>
        <p-button
          label="Simular Mineração"
          icon="pi pi-play"
          (onClick)="simulateMining()"
        ></p-button>
      </div>

      <p-table [value]="competitors" class="p-datatable-sm w-full rounded-md">
        <ng-template #header>
          <tr>
            <th style="width: 5%"></th>
            <th style="width: 15%">Nome</th>
            <th>Dados</th>
          </tr>
        </ng-template>
        <ng-template #body let-competitor>
          <tr>
            <td>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [rounded]="true"
                [text]="true"
                (onClick)="removeCompetitor(competitor.id)"
              ></p-button>
            </td>
            <td>{{ competitor.name }}</td>
            <td>
              <div class="flex flex-wrap gap-5 items-center">
                <div class="flex flex-col gap-2">
                  <p-button
                    icon="pi pi-plus"
                    severity="secondary"
                    (onClick)="increaseDice(competitor)"
                  />
                  <p-button
                    icon="pi pi-minus"
                    severity="secondary"
                    (onClick)="decreaseDice(competitor)"
                  />
                </div>
                <app-dice
                  *ngFor="let dice of competitor.dices"
                  [dice]="dice"
                  [target]="target"
                ></app-dice>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

      <div class="flex flex-col gap-5 w-full">
        <h3 class="font-bold text-lg mb-3">Histórico de Blocos</h3>
        <div
          id="blockchain"
          class="flex gap-20 relative overflow-x-auto whitespace-nowrap w-full h-auto"
        >
          <!-- Blocos de vencedores -->
          <div
            *ngFor="let blocks of chain.heights; let height = index"
            class="height-element relative flex"
            @blockAnimation
            [@slideRightAnimation]="{
              value: isMoving ? 'moved' : 'default',
              params: { slideXValue }
            }"
          >
            <!-- Bloco individual ou múltiplo -->
            <div class="height-element-container flex flex-col gap-5">
              <div class="p-4 rounded-lg shadow-md text-center w-40">
                #{{ chain.heights.length - height }}
              </div>
              <div
                *ngFor="let block of blocks; trackBy: trackBlocksByFn"
                class="block-element relative p-4 bg-blue-500 text-white rounded-lg shadow-md text-center w-40 h-40 transition-colors duration-500"
                [ngClass]="{
                  'bg-green-500':
                    blocks.length === 1 ||
                    (chain.heights.length - height - 1 <
                      chain.heights.length - 1 &&
                      block.next.length > 0),
                  'bg-red-500': block.isDeadFork
                }"
              >
                <span class="font-bold">{{ block.winner.name }}</span>
                @if(block.previous) {

                <div
                  class="absolute text-xs px-1 rounded-lg right-0 top-1/2 -translate-y-1/2 translate-x-1/2 bg-white text-black z-50"
                >
                  {{ block.previous.winner.id }}
                </div>
                <svg
                  class="absolute top-0 right-0 bottom-0 left-0 pointer-events-none overflow-visible"
                  viewBox="0 0 100 100"
                >
                  <path
                    [attr.d]="getCurvedPath(block, height, blocks)"
                    [attr.stroke]="block.isDeadFork ? 'red' : 'white'"
                    stroke-width="2"
                    fill="transparent"
                  />
                </svg>
                } @if(block.next.length === 0) {
                <div
                  *ngIf="height !== 0"
                  class="absolute text-xs w-3 h-3 left-0 top-1/2 -translate-y-1/2 -translate-x-1/2 bg-red-300"
                ></div>
                } @else {
                <div
                  *ngFor="let n of block.next; let i = index"
                  class="absolute text-xs px-1 rounded-lg left-0 -translate-y-1/2 -translate-x-1/2 bg-white text-black"
                  [ngStyle]="{
                    top:
                      'calc(' + getDynamicTopValue(block.next.length, i) + '%)'
                  }"
                >
                  {{ n.winner.id }}
                </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</p-card>
