<p-button
  label="Nova Transação"
  icon="pi pi-plus-circle"
  routerLink="new-transaction"
/>
<p-table
  [value]="transactions"
  [tableStyle]="{ 'min-width': '50rem' }"
  styleClass="p-datatable-lg"
  stripedRows
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      @if(transactions.length > 0) {
      <h5 class="m-0">{{ transactions.length }} Transações</h5>
      } @else {
      <h5 class="m-0">Nenhuma transação ainda</h5>

      }
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th pSortableColumn="height"># <p-sortIcon field="height" /></th>
      <th>Nº de Inputs</th>
      <th>Nº de Outputs</th>
      <th>Volume (BTC)</th>
      <th>Total de taxas (BTC)</th>
    </tr>
  </ng-template>
  <ng-template #body let-block>
    <tr>
      <td>{{ block.height }}</td>
      <td>{{ block.nTransactions }}</td>
      <td>{{ block.btcVolume }}</td>
      <td>{{ block.fees }}</td>
    </tr>
  </ng-template>
</p-table>
