.transaction-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  gap: 16px;
}

.inputs-section,
.outputs-section {
  width: 48%;
}

h3 {
  margin: 0 0 16px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.input-item,
.output-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.input-item:last-child,
.output-item:last-child {
  border-bottom: none;
}

.input-address,
.output-address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.input-amount,
.output-amount {
  text-align: right;
  font-size: 0.9rem;
}

.input-amount strong,
.output-amount strong {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.input-amount span,
.output-amount span {
  font-size: 0.8rem;
}

/* Responsividade para telas pequenas */
@media (max-width: 768px) {
  .transaction-container {
    display: block; /* Empilha os blocos */
  }

  .inputs-section,
  .outputs-section {
    width: 100%; /* Ocupa toda a largura */
    margin-bottom: 16px; /* Espaçamento entre os blocos */
  }

  .outputs-section {
    margin-bottom: 0; /* Remove o espaçamento do último bloco */
  }
}
