<div class="flex flex-col gap-2 items-start overflow-hidden">
  <!-- Barra vertical -->
  <div
    #bar
    class="relative w-full h-8 bg-gray-200 rounded-md overflow-hidden border-2 border-gray-400 cursor-grab"
    (mousedown)="startDraggingTarget()"
  >
    <!-- Área do Target (vermelha) -->
    <div
      #targetArea
      [ngClass]="{
        'absolute h-full w-full cursor-grab select-none': true,
        'bg-green-500': isHashBelowTarget,
        'bg-rose-700': !isHashBelowTarget
      }"
      [ngStyle]="{ right: targetPosition + '%' }"
    ></div>

    <!-- Linha do Hash (verde) -->
    <div
      #hashLine
      class="absolute w-0.5 h-full bg-green-900 pointer-events-none"
      [ngStyle]="{ right: hashPosition + '%' }"
    ></div>
  </div>
  @if(isHashBelowTarget) {

  <p-message severity="success" variant="simple" size="small" icon="pi pi-check"
    >Hash dentro do target</p-message
  >
  } @else {
  <p-message
    severity="error"
    variant="simple"
    size="small"
    icon="pi pi-times-circle"
    >Hash fora do target</p-message
  >}
</div>
