@let data = event.data; @let block = data?.block; @let visual = event.type |
eventLogVisual;
<div class="py-1 flex flex-col gap-1" [ngClass]="visual.color">
  <!-- Header -->
  <div>
    <span class="font-mono mr-2 text-zinc-400">{{
      event.timestamp | date : "HH:mm:ss"
    }}</span>
    <i [class]="visual.icon + ' mr-2 text-xs'"></i>
    <span>{{ event.type | eventLogMessage : event.data }}</span>
    <!-- <span *ngIf="data?.peerId && data?.peerId !== event.minerId">
      [peer #{{ data?.peerId }}]</span
    > -->
    <span *ngIf="event.state === 'pending'" class="inline-flex items-center">
      <span class="animate-spin ml-1"
        ><svg class="w-3 h-3" viewBox="0 0 24 24">
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="3"
            fill="none"
          />
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
          />
        </svg>
      </span>
    </span>
  </div>
  <!-- Body -->
  <div>
    <div class="ml-4 flex items-center gap-1.5" *ngIf="block">
      <ng-container *ngFor="let part of block | blockInfoParts">
        <span [ngClass]="part.class" class="event-block-part">{{
          part.value
        }}</span>
      </ng-container>
    </div>
  </div>
  <!-- Logs -->
  <div class="relative ml-4">
    <ng-container *ngFor="let log of event.logs; let last = last">
      <div class="flex items-start relative py-1">
        <!-- Linha vertical da timeline -->
        <div
          *ngIf="!last"
          class="absolute left-0 h-full w-0.5 bg-zinc-700"
        ></div>
        <!-- Dot da timeline -->
        <div
          class="absolute left-0 w-3 h-1/2 border-l-2 border-b-2 border-zinc-700 rounded-bl"
        ></div>
        <!-- Conteúdo do log -->
        <div class="ml-6 w-full">
          <app-event-log [log]="log" [event]="event"></app-event-log>
        </div>
      </div>
    </ng-container>
  </div>
</div>
