@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@import "primeicons/primeicons.css";

:root {
  --p-datatable-border-color: #3f3f4690 !important;
  --p-datatable-header-cell-background: transparent !important;
  --p-datatable-row-background: transparent !important;
  --p-datatable-footer-cell-background: transparent !important;
}
