<div class="flex flex-col gap-2 items-start overflow-hidden">
  <p-table [value]="[1]" class="p-datatable-sm w-full">
    <!-- Header -->
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%"></th>
        <th style="width: 40%">Hexadecimal</th>
        <th style="width: 50%">Decimal</th>
      </tr>
    </ng-template>

    <!-- Linhas principais -->
    <ng-template pTemplate="body" let-item>
      <tr>
        <td class="font-bold">Hash</td>

        <td class="font-mono text-right">{{ hash || "(vazio)" }}</td>

        <td class="font-mono text-right">{{ hashDecimal || "(vazio)" }}</td>
      </tr>
      <tr>
        <td class="font-bold">Alvo</td>

        <td class="font-mono text-right">{{ targetHash || "(vazio)" }}</td>

        <td class="font-mono text-right">
          {{ targetHashDecimal || "(vazio)" }}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Barra vertical -->
  <div
    #bar
    class="relative w-full h-8 bg-gray-200 rounded-md overflow-hidden border-2 border-gray-400 cursor-grab"
    (mousedown)="startDraggingTarget()"
  >
    <!-- Área do Target (vermelha) -->
    <div
      #targetArea
      [ngClass]="{
        'absolute h-full w-full cursor-grab select-none': true,
        'bg-green-500': isHashBelowTarget,
        'bg-rose-700': !isHashBelowTarget
      }"
      [ngStyle]="{ right: targetPosition + '%' }"
    ></div>

    <!-- Linha do Hash (verde) -->
    <div
      #hashLine
      class="absolute w-0.5 h-full bg-green-900 pointer-events-none"
      [ngStyle]="{ right: hashPosition + '%' }"
    ></div>
  </div>
  @if(isHashBelowTarget) {

  <p-message severity="success" variant="simple" size="small" icon="pi pi-check"
    >Hash dentro do target</p-message
  >
  } @else {
  <p-message
    severity="error"
    variant="simple"
    size="small"
    icon="pi pi-times-circle"
    >Hash fora do target</p-message
  >}
</div>
